MONGO_EMAIL=MONGO_EMAIL

MONGO_PASSWORD=MONGO_PASSWORD

JWT_LIFETIME=JWT_LIFETIME
JWT_SECRET=JWT_SECRET
JWT_COOKIE_EXPIRES_IN=JWT_COOKIE_EXPIRES_IN
NODE_ENV=development

PORT=3000

#FOR DEVELOPMENT TESING
EMAIL_HOST=EMAIL_HOST
EMAIL_PORT=EMAIL_PORT
EMAIL_USERNAME=EMAIL_USERNAME
EMAIL_PASSWORD=EMAIL_PASSWORD

#GMAIL 
USER_EMAIL=USER_EMAIL
USER_PASSWORD=USER_PASSWORD


CLOUDINARY_NAME=CLOUDINARY_NAME
CLOUDINARY_API_KEY=CLOUDINARY_API_KEY
CLOUDINARY_API_SECRET=CLOUDINARY_API_SECRET